*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Raleway';
    color: white;
    min-height: 100%;
}

 .navbar {
  position: absolute;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 71px;
 }

.navbar .logo {
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

 .navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  color: #F15C56;
  text-decoration: none;
  padding-right: 2rem;
 }

 .links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: middle;
    color: #F15C56;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Comfortaa';
}

.links-container .navbar-link:hover {
    color: #57BEB6;
    
}

.hero img {
    max-width: 100%;
    width: auto/9;
    vertical-align: middle;
    text-align: center;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 5em;

}


.logo img {
    max-width: 70%;
    width: auto/9;
    vertical-align: middle;
    text-align: center;
}


.header h1 {
    color: #F15C56;
    font-style: normal;
    font-size: 64px;
    font-weight: 300;
    font-family: 'Comfortaa';
}

.header h2 {
    color: #425657;
    font-style: lighter;
    font-size: 24px;
    font-weight: 300;
} 


.overview h1 {
    color: #F15C56;
    text-align: left;
    font-style: normal;
    font-size: 32px;
    font-weight: 300;
}

.overview h2 {
    color: #57BEB6;
    text-align: left;
    font-style: normal;
    font-size: 24px;
    font-weight: 300; 
}

.overview p {
    color: #425657;
    text-align: left;
    font-style: lighter;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
}

.overview ul {
    color: #4A4A4A;
    text-align: left;
    font-style: lighter;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5rem;
}

.overview h4 {
    font-weight: 200;
}

.about-me {
     position: relative;
     min-height: 800px;
     background-image: url("../images/coffee.jpg");
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
}

.about-me .about-title {
     position: absolute;
     top: 15%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: right;
     font-size: 3rem;
     font-weight: 250;
     text-transform: uppercase;
     letter-spacing: 0.25rem;
     color: #F15C56;
     line-height: 2rem;
     right: 1%;
}

.nsurvey {
     min-height: 500px;
     background-image: url("../images/nsurvey.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;

}


.npersonas {
     min-height: 900px;
     background-image: url("../images/npersona.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;

}

.nflow {
     min-height: 500px;
     background-image: url("../images/nflow.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;

}

.nlow {
     min-height: 700px;
     background-image: url("../images/nlow.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: static;

}

.nhigh {
     min-height: 900px;
     background-image: url("../images/nhigh.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
}

.nuno {
     min-height: 600px;
     background-image: url("../images/nuno.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
}

.ntype {
     min-height: 800px;
     background-image: url("../images/ntype.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
}

.ndash {
     min-height: 800px;
     background-image: url("../images/ndash.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     display: block;
     margin: 0 auto;
}

.npal {
     min-height: 800px;
     background-image: url("../images/npal.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     display: block;
     margin: 0 auto;
}

 /* GRID */
 .spcontainer {
    margin: 0 auto;
    max-width: 64rem;
}



 /* WORK */
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
}

 .selling-points {
     position: relative;
 }
 
 .point {
     position: relative;
     text-align: center;
     color: #F15C56;
 }
 
 .point .point-title {
     font-size: 4rem;
     color: #FFFFFF;
     text-align: center;
     font-weight: normal;
 }

.point .point-description {
    font-size: 1.5rem;
    color: #4A4A4A;
    text-align: center;
    font-weight: lighter;
}

.column {
    float: left;
        
    }
    
.column.full {width: 100%; }
.column.two-thirds {width: 66.7%; }
.column.half {width: 50%; }
.column.third {width: 33.3%; }
.column.fourth {width: 25%; }
.column.flow-opposite {float: right; }

.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}

  /* ABOUT ME */
 .aboutme h2, .aboutme p {
   color:#4B5258;
 }

 /* CONTACT */
.container {
  max-width:1000px;
  margin:0 auto;
  text-align:center;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 2000px) {
.hero img {
    max-width: 100%;
    width: auto/9;
    vertical-align: middle;
    text-align: center;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 5em;
}
}

/* TABLETS & DESKTOP */
@media only screen and (max-width: 1000px) {
.column.half {width: 100%; }

.workbtn {
  font-size: 12px;
}
    
    .hero img {
    max-width: 100%;
    width: auto/9;
    vertical-align: middle;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;

}
}

/* PHONES */
@media only screen and (max-width: 767px) {
.column.half {width: 100%; }

.workbtn {
  font-size: 12px;
}
    
    .hero img {
    max-width: 100%;
    width: auto/9;
    vertical-align: middle;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 5em;

}


@media only screen and (max-width: 767px) {
 .navbar {
     position: absolute;
     padding-left: 1rem;
     padding-right: 1rem;
     padding-top: 0.25rem;
     padding-bottom: 0.25rem;
     z-index: 1;
     top: 0;
     width: 100%;
     overflow: hidden;
     height: 71px;
 }

.navbar .logo {
     padding-left: 0.5rem;
     padding-top: 0.25rem;
     padding-bottom: 2rem;
}

.navbar .links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 0;
     height: 70px;
     color: #F15C56;
     text-decoration: none;
     padding-right: 0.1rem;
 }
.links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;
     color: #F15C56;
     font-size: 0.8rem;
     letter-spacing: 0.05rem;
     font-weight: 600;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
}
    .overview p {
     color: #425657;
     text-align: left;
     font-style: lighter;
     font-size: 14px;
     font-weight: 100;
     line-height: 1.5rem;
     padding-left: 0.75rem;
     padding-right: 0.75rem;
}
    .overview p {
     color: #4A4A4A;
     text-align: left;
     font-style: lighter;
     font-size: 14px;
     font-weight: 100;
     line-height: 1.5rem;
     padding-left: 0.75rem;
     padding-right: 0.75rem;
}
    .overview h1 {
    color: #F15C56;
    text-align: left;
    font-style: normal;
    font-size: 24px;
    font-weight: 100;
    padding-left: 0.75rem;
}
    .overview h2 {
    color: #57BEB6;
    text-align: left;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;
    padding-left: 0.75rem;
}

.nsurvey {
     min-height: 250px;
     background-image: url("../images/nsurvey.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;
     width: 100%;
}


.npersonas {
     min-height: 450px;
     background-image: url("../images/npersona.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;
     width: 100%;
}

.nflow {
     min-height: 300px;
     background-image: url("../images/nflow.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: relative;
     width: 100%;
}

.nlow {
     min-height: 400px;
     background-image: url("../images/nlow.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: contain;
     position: static;
     width: 100%;
}

.nhigh {
     min-height: 400px;
     background-image: url("../images/nhigh.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     width: 100%;
}

.nuno {
     min-height: 350px;
     background-image: url("../images/nuno.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     width: 100%;
}

.ntype {
     min-height: 450px;
     background-image: url("../images/ntype.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     width: 100%;
}

.ndash {
     min-height: 650px;
     background-image: url("../images/ndash.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     display: block;
     margin: 0 auto;
     width: 100%;
}

.npal {
     min-height: 625px;
     background-image: url("../images/npal.png");
     background-repeat: no-repeat;
     background-size: contain;
     position: relative;
     display: block;
     margin: 0 auto;
     width: 100%;
}
    
}
}
/* PORTRAIT PHONES */
@media only screen and (max-width: 767px) and (orientation: portrait) {

}

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }

 @media (min-width: 1200px) {
   .container {
       width: 1170px; }
 }

.workbtn {
  margin: auto;
  background-color:#FFF;
  padding: 18px 45px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #F15C56;
  -webkit-transition: .5s;
  transition: .5s;
  display: table;
  cursor: pointer;
  width:60%;
  color:#F15C56;
  text-decoration: none;
  text-align: center;
  font-family: 'Raleway';
  margin-bottom: 1rem;
}
.workbtn:hover, .workbtn:hover {
  background:#F15C56;
  border-color: #F15C56;
  color:#FFF;
}
    
  /* FOOTER */ 
footer {
    color: #FFFFFF;
    height: 75px;
    position: relative;
    z-index: 0;
    text-align: center;
    font-size:14px;
    font-weight:100;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 45px;
    background-color: #FFF;
}

a.linked {
    color: #B3C9BD;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

a.linked:hover, a.linked:hover {
    color: #F15C56;
}
