*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 100%;
}

body {
    font-family: 'Comfortaa';
    color: white;
    min-height: 100%;
}

 .navbar {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  z-index: 1;
  top: 0;
  width: 100%;
  overflow: hidden;
  opacity: 1;
  background-color: #F15C56;
  height: 71px;
 }

.navbar .logo {
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

 .navbar .links-container {
  display: table;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  color: #FFFFFF;
  text-decoration: none;
  padding-right: 2rem;
 }

 .links-container .navbar-link {
    display: table-cell;
    position: relative;
    height: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    vertical-align: middle;
    color: white;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.links-container .navbar-link:hover {
    color: #4A4A4A;
    
}


img {
    max-width: 100%;
    width: auto/9;
    vertical-align: middle;
    border: 0;
}

.about-me {
     position: relative;
     min-height: 800px;
     background-image: url("../images/coffee.jpg");
     background-repeat: no-repeat;
     background-position: top center;
     background-size: cover;
     background-attachment: fixed;
}

.about-me .about-title {
     position: absolute;
     top: 20%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;
     text-align: right;
     font-size: 3rem;
     font-weight: 250;
     text-transform: uppercase;
     letter-spacing: 0.25rem;
     color: white;
     line-height: 2rem;
     right: 1%;
}

 /* GRID */
 .spcontainer {
    margin: 0 auto;
    max-width: 64rem;
}

 /* WORK */
 .small {
   font-size: 12px;
   color: #FEFEFE;
   line-height: 15px;
   font-style:italic;
}

 .selling-points {
     position: relative;
 }
 
 .point {
     position: relative;
     text-align: center;
     color: #F15C56;
 }
 
 .point .point-title {
     font-size: 4rem;
     color: #FFFFFF;
     text-align: center;
     font-weight: normal;
 }

.point .point-description {
    font-size: 1.5rem;
    color: #4A4A4A;
    text-align: center;
    font-weight: lighter;
}

.column {
    float: left;
        
    }
    
.column.full {width: 100%; }
.column.two-thirds {width: 66.7%; }
.column.half {width: 50%; }
.column.third {width: 33.3%; }
.column.fourth {width: 25%; }
.column.flow-opposite {float: right; }

.box {
    width: 500px;
    height: 500px;
    text-align: center;
    background-color: #57BEB6;
    -webkit-transition: .25s;
    transition: .25s;
    cursor: pointer;
    }

  .box:hover, .box:hover {
    background-color: #F15C56;
    cursor: pointer;
  }



.gesha {
     background-image: url("../images/Gesha.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 500px;
     height: 500px;
}

.truvay {
     background-image: url("../images/Truvay.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 500px;
     height: 500px;
}



.notebox {
     background-image: url("../images/notebox.png");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     width: 500px;
     height: 500px;
}


.clearfix::before,
.clearfix::after {
   content: " ";
   display: table;
}

.clearfix::after {
   clear: both;
}



  /* ABOUT ME */

.aboutme p {
    line-height: 1.5rem;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    color: white;
    width: 500px;
}

.aboutme h2 {
   color:#FFFFFF; 
}

.aboutme {
    background-color: #F15C56;
}


 /* CONTACT */

.container {
  max-width:1000px;
  margin:0 auto;
  text-align:center;
}
h2 {
  text-align:center;
  padding:18px 0 0 0;
  font-size: 1.4em;
  margin-top: 10px;
}


input {
  margin-bottom:10px;
}
textarea {
  height:300px;
  margin-bottom:10px;
}
input:first-of-type
{
  margin-top:15px;
}
input, textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: 'Comfortaa',arial,sans-serif;
  border: 1px solid #F15C56;
  background: #FFFFFF;
  color:#F15C56;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #F15C56;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
}
::-webkit-input-placeholder {
   color: #CB9A8F;
}
:-moz-placeholder {
   color: #FAFAFA;  
}
::-moz-placeholder {
   color: #FAFAFA; 
}
:-ms-input-placeholder {  
   color: #FAFAFA;  
}
.button {
  margin-top:15px;
  margin-bottom:25px;
  background-color:#57BEB6;
  padding: 12px 45px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #57BEB6;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  cursor: pointer;
  width:30%;
  color:#FFF;
}
.button:hover, .button:hover {
  background:#F15C56;
  border-color: #F15C56;
}
label.error {
    font-family:'Comfortaa',arial,sans-serif;
    font-size:1em;
    display:block;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#F15C56;
    width: 80%;
    margin:auto;
    color: #FAFAFA;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}



/* MEDIA QUERIES */


/* TABLETS & DESKTOP */
@media only screen and (min-width: 2000px) {
.about-me {
     min-height: 1400px;
     position: relative;
     background-image: url("../images/coffee.jpg");
     background-repeat: no-repeat;
     background-position: center top;
     background-size: cover;
}
}


@media only screen and (max-width: 2000px) {
    .box {
     width: 350px;
     height: 350px;
    }
    .point .point-title {
     font-size: 3rem;
     color: #FFFFFF;
     text-align: center;
     font-weight: normal;
 }

    .point .point-description {
     font-size: 1.25rem;
     color: #4A4A4A;
     text-align: center;
     font-weight: lighter;
     padding-bottom: 2rem;
}
    
     .gesha {
     width: 350px;
     height: 350px;
     background-position: center bottom;
}

    .truvay {
     width: 350px;
     height: 350px;
}

    .notebox {
     width: 350px;
     height: 350px;
     background-position: center bottom;
}
}



@media only screen and (max-width: 1020px) {
    .box {
     width: 250px;
     height: 250px;
    }
    .point .point-title {
     font-size: 3rem;
     color: #FFFFFF;
     text-align: center;
     font-weight: normal;
 }

    .point .point-description {
     font-size: 1.25rem;
     color: #4A4A4A;
     text-align: center;
     font-weight: lighter;
     padding-bottom: 2rem;
}
    
     .gesha {
     width: 250px;
     height: 250px;
     background-position: center bottom;
}

    .truvay {
     width: 250px;
     height: 250px;
}

    .notebox {
     width: 250px;
     height: 250px;
     background-position: center bottom;
}
}

/* PHONES */
@media only screen and (max-width: 767px) {
    .box {
     width: 200px;
     height: 200px;
    }
    .point .point-title {
     font-size: 2rem;
     color: #FFFFFF;
     text-align: center;
     font-weight: normal;
 }

.about-me {
     position: relative;
     max-height: 300px;
     background-image: url("../images/coffee.jpg");
     background-repeat: no-repeat;
     background-position: left bottom;
     background-size: cover;
}
    .point .point-description {
     font-size: 0.75rem;
     color: #4A4A4A;
     text-align: center;
     font-weight: lighter;
}
    .aboutme p {
     line-height: 1.5rem;
     font-size: 12px;
     text-align: left;
     display: inline-block;
     color: white;
     width: 250px;
     padding-left: 0.5rem;
     padding-right: 0.5rem;
}
    .gesha {
     width: 200px;
     height: 200px;
}

    .truvay {
     width: 200px;
     height: 200px;
}

    .notebox {
     width: 200px;
     height: 200px;
}
    .navbar {
     position: relative;
     padding-left: 1rem;
     padding-right: 1rem;
     padding-top: 0.25rem;
     padding-bottom: 0.25rem;
     z-index: 1;
     top: 0;
     width: 100%;
     overflow: hidden;
     opacity: 0.9;
     background-color: #F15C56;
     height: 71px;
 }

   .navbar .logo {
     padding-left: 0.5rem;
     padding-top: 0.25rem;
     padding-bottom: 2rem;
}

    .navbar .links-container {
     display: table;
     position: absolute;
     top: 0;
     right: 0;
     height: 70px;
     color: #57BEB6;
     text-decoration: none;
     padding-right: 0.1rem;
 }
    .links-container .navbar-link {
     display: table-cell;
     position: relative;
     height: 100%;
     padding-left: 1rem;
     padding-right: 1rem;
     vertical-align: middle;
     color: white;
     font-size: 0.75rem;
     letter-spacing: 0.05rem;
     font-weight: 700;
     text-transform: uppercase;
     text-decoration: none;
     cursor: pointer;
}
    
    .about-me {
     position: relative;
     min-height: 400px;
     background-image: url("../images/coffee.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     max-width: 100%;
}

     .about-me .about-title {
      position: absolute;
      top: 20%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;
      text-align: right;
      font-size: 1rem;
      font-weight: 250;
      text-transform: uppercase;
      letter-spacing: 0.25rem;
      color: white;
      line-height: 1rem;
      right: 1%;
}
     .aboutme h2 {
      font-size: 1rem; 
}
}

/* PORTRAIT PHONES */
@media only screen and (max-width: 767px) and (orientation: portrait) {

}

@media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }

 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }

 @media (min-width: 1200px) {
   .container {
       width: 1170px; }
 }

.message {
    font-family:'Comfortaa',arial,sans-serif;
    font-size:1.1em;
    display:none;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#FFFFFF;
    width: 80%;
    margin:auto;
    color: #FFFFFF;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius:6px;
}

/* FOOTER */ 
footer {
    color: #FFFFFF;
    height: 50px;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin: 10px auto 0;
    text-align: center;
    font-size:14px;
    font-weight:100;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 45px;
    background-color: #4A4A4A;
}

a.linked {
    color: #FFF;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

a.linked:hover, a.linked:hover {
    color: #F15C56;
}

a.git {
    color: #FFF;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

a.git:hover, a.git:hover {
    color: #F15C56;
}

a.dribb {
    color: #FFF;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

a.dribb:hover, a.dribb:hover {
    color: #F15C56;
}
